html
	head
		title="AlteRank"
		link(rel='stylesheet', href="public/assets/bootstrap/css/bootstrap.min.css")
		link(rel='stylesheet', href="public/assets/css/style.css")
	body
		script(src="public/assets/jquery/jquery.min.js")
		script(src="public/assets/bootstrap/js/bootstrap.min.js")

		div(class='card text-center col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 col-xs-12' style='padding: 0;')
			div(class='card-header')
				h6(class='card-title') SIGN UP FOR A NEW ACCOUNT
			div(class='card-body')
				form(method='POST' class='form-signup form-inline')
					div(class='form-row' style='width: 100%;')
						input(type='text' name='firstname' class='form-control col-5 offset-1' placeholder='First Name' style='width: 100%;')
						input(type='text' name='lastname' class='form-control col-5' placeholder='Last Name' style='width: 100%;')
					div(class='form-row' style='width: 100%;')
						input(type='text' name='email' class='form-control' placeholder='Email' style='width: 100%;')
					div(class='form-row' style='width: 100%;')
						input(type='text' name='phone' class='form-control' placeholder='Phone Number' style='width: 100%;')
					div(class='form-row' style='width: 100%;')
						input(type='text' name='password' class='form-control' placeholder='Password' style='width: 100%;')
			div(class='card-footer')
				button(class='btn btn-primary') Facebook
				button(class='btn btn-danger') Google